body {
  font-family: 'Arial', sans-serif;
  background-color: #004c49;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #8dffe4;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #117976;
  color: #ffffff;
}

button {
  display: inline-block;
  padding: 7px 13px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  background-color: #002e32;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button, select {
  margin-right: 10px;
  margin-bottom: 10px;
}

select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #002e32;
  border-radius: 5px;
  background-color: #004c49;
  color: #ffffff;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

select:hover {
  border-color: #008080;
}

select:focus {
  outline: none;
  border-color: #008080;
  background-color: #002e32;
  color: #ffffff;
}


button:hover {
  background-color: #004d60;
}

.task {
  background-color: #51b1ae;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.kontener1 {
  background-color: #117976;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.text-white {
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #51b1ae;
  color: black;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ffffff;
}

.auth-button {
  margin-right: 10px;
}

.user-info {
  margin-left: auto;
  text-align: right;
  color: #8dffe4;
}

.owner {
  color: #8dffe4;
  background-color: #002e32;
  padding: 3px 5px;
  border-radius: 5px;
}

.button-container {
  margin-bottom: 10px;
}

.button-container button {
  margin-right: 10px;
}

.button-container select {
  margin-right: 10px;
}

.custom-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}