
body {
  font-family: 'Arial', sans-serif;
  background-color: #004c49;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #8dffe4;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #117976;
  color: rgb(255, 255, 255);
}

.task{
  background-color: #51b1ae;
  color: black;
}

.kontener1{
  background-color: #117976;
  border-radius: 10px;
}

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.margin-bottom-small{
  margin-bottom: 10px;
}

.text-white{
  color: white;
}
